body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #f7f7f7;
  font-size: 16px;
  color: #333;
  margin-top: 50px;
}

h1 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 20px;
}

button {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 12px 24px;
  margin-top: 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

input,
select {
  font-size: 1.6rem;
  padding: 12px;
  margin-top: 20px;
  color: #333;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
select:focus {
  border-color: #4caf50;
}

label {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.Recipe {
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-container {
  margin-top: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.recipe-container:hover {
  transform: translateY(-5px);
}

.recipe-container p {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #333;
}

.error-message {
  color: #ff0000;
  font-size: 1.4rem;
  margin-top: 20px;
}

.options {
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  label {
    font-size: 1.8rem;
  }
}

#ingredients {
  margin-left: 10px;
}

#type {
  margin-left: 10px;
}

#region {
  margin-left: 10px;
}
